aio-pika==6.4.1
aiohttp==3.6.2
aiormq==3.2.0
async-timeout==3.0.1
attrs==19.3.0
autopep8==1.4.4
certifi==2019.9.11
chardet==3.0.4
idna==2.8
IMAPClient==2.1.0
multidict==4.7.4
pamqp==2.3.0
pika==1.1.0
pycodestyle==2.5.0
pyzmail36==1.0.4
requests==2.22.0
selenium==3.141.0
six==1.14.0
urllib3==1.25.6
yarl==1.4.2
