aio-pika==6.8.0
aiohttp==3.7.4.post0
aiormq==3.3.1
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.7
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
idna==2.10
IMAPClient==2.2.0
multidict==5.1.0
pamqp==2.3.0
pika==1.2.0
pycodestyle==2.7.0
python-dotenv==0.18.0
pyzmail36==1.0.4
requests==2.25.1
selenium==3.141.0
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.5
yarl==1.6.3
